/**
 * Component - Back To Top
 */

$back-to-top-bg:           $icon-bg !default;
$back-to-top-color:        $icon-color !default;
$back-to-top-hover-bg:     $icon-hover-bg !default;
$back-to-top-hover-color:  $icon-hover-color !default;
$back-to-top-pad:          space() !default;
$back-to-top-height:       3rem !default;

.backToTop {
  position: fixed;
  right: $back-to-top-pad;
  bottom: $back-to-top-pad;
  z-index: 1000;
  display: block;
  width: $back-to-top-height;
  height: $back-to-top-height;
  padding: 0; // Reset
  opacity: 0;
  transform: translateY(1rem) rotateY(-180deg);
  transition: all 0.5s ease;
  text-align: center;
  outline: 0;
  cursor: default;
  pointer-events: none;

  &--active {
    opacity: 1;
    transform: translateY(0) rotateY(0);
    cursor: pointer;
    pointer-events: auto;
  }

  @include use-icon($back-to-top-bg, $back-to-top-color, $back-to-top-hover-bg, $back-to-top-hover-color);
}
