/**
 * Component - Back To Top
 */

.backToTop {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  width: calc(3rem + 48px);
  height: calc(3rem + 48px);
  padding: 0; // Reset
  border: 0;
  background-color: transparent;
  text-align: center;
  outline: 0;
  cursor: pointer;

  .icon {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $backBtnBg;
    color: $backBtnColor;
  }

  &:hover .icon {
    background-color: $backBtnHoverBg;
    color: $backBtnHoverColor;
  }
}
