/**
 * Component - Cover
 */

$cover-nav-color:        theme-color("lighter") !default;
$cover-nav-active-color: theme-color($theme-accent) !default;


.cover {
  &__inner {
    // Preloader用クラス
    .preloader & {
      opacity: 0; // Preloader稼働前は透過

      .loaded & {
        opacity: 1; // イメージを読み込んだら透過を解除
      }
    }
  }

  &__image {
    &--fade {
      opacity: 0;
      transition: none;
    }
  }

  &__nav {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 1rem;
    margin: space() auto;
    padding: 0;
  }

  &__navItem {
    width: .5rem;
    height: .5rem;
    margin: space();
    border-radius: 50%;
    background-color: $cover-nav-active-color;
    cursor: pointer;

    &:not(.cover__navItem--current) {
      background-color: $cover-nav-color;
    }
  }
}
