/**
 * Component - Preloader
 */

// Preloader
$spinner-width:      48px !default;
$spinner-bars-count: 12 !default;
$spinner-bars-bg:    $body-bg !default; // rgba関数を使用するため16進数指定
$preloader-height:   100vh !default;
$preloader-bg:       map-get($theme-colors, $theme-accent) !default;

@mixin make-spinner-bars($width: $spinner-width, $spinner-bars-count: $spinner-bars-count, $spinner-bars-bg: $spinner-bars-bg) {
  & > span {
    position: absolute;
    top: $width * 9 / 24;
    left: $width * 11 / 24;
    display: block;
    width: $width * 2 / 24;
    height: $width * 6 / 24;
    border-radius: $width * 1 / 24;
  
    @for $i from 1 through $spinner-bars-count {
      &:nth-child(#{$i}) {
        background-color: rgba($spinner-bars-bg, $i / ($spinner-bars-count + 2));
        transform: rotate(#{($i - 1) * 360 / $spinner-bars-count}deg) translate(0, #{$width * 8 / 24})
      }
    }
  }
}

.preloader {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900; // header: 1000 より背面
    width: 100%;
    height: $preloader-height;
    background: $preloader-bg;
    opacity: 1;
    transition: opacity 0.5s linear;

    &:not(.preloader__overlay--show) {
      opacity: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 18rem;
    height: 18rem;
    margin: auto;
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: $spinner-width;
    height: $spinner-width;
    margin: auto;
    @include make-spinner-bars;
  }
}
