// Setting

// Colors
$black:                var(--wp--preset--color--black, #000000) !default;
$dark:                 var(--wp--preset--color--dark, #333333) !default;
$mediumDark:           var(--wp--preset--color--medium-dark, #666666) !default;
$mediumLight:          var(--wp--preset--color--medium-light, #999999) !default;
$light:                var(--wp--preset--color--light, #cccccc) !default;
$primaryDark:          var(--wp--preset--color--primary-dark, #18aada) !default;
$primary:              var(--wp--preset--color--primary, #37bef0) !default;
$primaryLight:         var(--wp--preset--color--primary-light, #d1f0fc) !default;
$secondary:            var(--wp--preset--color--secondary, #9bcb6b) !default;
$tertiary:             var(--wp--preset--color--tertiary, #ff69b4) !default;
$white:                var(--wp--preset--color--white, #ffffff) !default;
$linkColor:            $primary !default;
$linkHoverColor:       $primaryDark !default;

// Spacing
$spacingValues:  (
  0:               0,
  1:               var(--wp--custom--spacing--x-small, 0.375rem),
  2:               var(--wp--custom--spacing--small, 0.75rem),
  3:               var(--wp--custom--spacing--medium, 1.5rem),
  4:               var(--wp--custom--spacing--large, 3rem),
  5:               var(--wp--custom--spacing--x-large, 6rem)
) !default;

@function space($key: 2) {
  @return map-get($spacingValues, $key);
}

// Font sizes
$h1FontSize:           var(--wp--preset--font-size--x-large, 2rem) !default;
$h2FontSize:           var(--wp--custom--font-size--x-large, 1.5rem) !default;
$h3FontSize:           var(--wp--custom--font-size--large, 1.33rem) !default;
$h4FontSize:           var(--wp--custom--font-size--medium, 1.17rem) !default;
$h5FontSize:           var(--wp--custom--font-size--normal, 1rem) !default;
$h6FontSize:           var(--wp--custom--font-size--small, 0.875rem) !default;

// Filter for images
$blur:                 brightness(0.85) blur(1px) !default;
$whiten:               invert(1) grayscale(1) brightness(4) !default;

// Breakpoint
$breakpoint:           900px !default;

// Back To Top
$backBtnBg:            $primary;
$backBtnColor:         $white;
$backBtnHoverBg:       $primaryDark;
$backBtnHoverColor:    $white;

// Drawer Menu
$drawerAlwaysShown:    true !default;
$drawerHiddenBp:       1200px;
$drawerPad:            1rem !default;  // calc関数を使用するためCSS変数を避ける
$drawerHeight:         64px !default;
$drawerMenuDarkBg:     $primaryDark !default;

// Preloader
$spinnerWidth:         48px !default;
$spinnerBarsCount:     12 !default;
$spinnerBarsBg:        $white !default; // rgba関数を使用するためCSS変数を避ける
$preloaderHeight:      100vh !default;
$preloaderBg:          $primaryDark !default;

// Slider
$sliderSizingBp:       $breakpoint;
$sliderAspectRatio:    5 / 8 !default;
$sliderHeights:        (
  sm:                    12rem,
  md:                    18rem,
  lg:                    24rem
) !default;
